<template name="main">
	<div class="container pbl" style="padding-bottom:50px">
		{{> navi}}
		<div class="page-header">
		  <h1>统计表单 <small>福建广播电视大学</small></h1>
		</div>
		{{> errors}}
	    {{> yield}}
	    <div id="footer" class="container ">
			<nav class="navbar navbar-default navbar-fixed-bottom">
			    <div class="navbar-inner navbar-content-center">
			        <p class="text-muted text-center credit" style="padding: 10px;">
			            Copyright &copy; 福建广播电视大学人事处.
			        </p>
			    </div>
			</nav>
		</div>
	   
	</div>
</template>