<template name="degree">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
			  	<td>最高学位</td>
			  	<td>人数</td>
			  	<td>比例</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			  	<td>学士</td>
			  	<td>{{item1}}</td>
			  	<td>{{itemRate1}}</td>
			</tr>
			<tr>
			  	<td>硕士</td>
			  	<td>{{item2}}</td>
			  	<td>{{itemRate2}}</td>
			</tr>
			<tr>
			  	<td>博士</td>
			  	<td>{{item3}}</td>
			  	<td>{{itemRate3}}</td>
			</tr>
			<tr>
			  	<td>双学士</td>
			  	<td>{{item4}}</td>
			  	<td>{{itemRate4}}</td>
			</tr>
			<tr>
			  	<td>无</td>
			  	<td>{{item5}}</td>
			  	<td>{{itemRate5}}</td>
			</tr>
			<tr>
			  	<td>总计</td>
			  	<td>{{total}}</td>
			  	<td>{{totalRate}}</td>
			</tr>
		</tbody>  
	</table>
</template>