<template name="proTitle">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
			  	<td>最高学历</td>
			  	<td>人数</td>
			  	<td>比例</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			  	<td>教授</td>
			  	<td>{{item1}}</td>
			  	<td>{{itemRate1}}</td>
			</tr>
			<tr>
			  	<td>副教授</td>
			  	<td>{{item2}}</td>
			  	<td>{{itemRate2}}</td>
			</tr>
			<tr>
			  	<td>讲师</td>
			  	<td>{{item3}}</td>
			  	<td>{{itemRate3}}</td>
			</tr>
			<tr>
			  	<td>助教</td>
			  	<td>{{item4}}</td>
			  	<td>{{itemRate4}}</td>
			</tr>
			<tr>
			  	<td>研究员</td>
			  	<td>{{item5}}</td>
			  	<td>{{itemRate5}}</td>
			</tr>
			<tr>
			  	<td>副研究员</td>
			  	<td>{{item6}}</td>
			  	<td>{{itemRate6}}</td>
			</tr>
			<tr>
			  	<td>助理研究员</td>
			  	<td>{{item7}}</td>
			  	<td>{{itemRate7}}</td>
			</tr>
			<tr>
			  	<td>研究实习员</td>
			  	<td>{{item8}}</td>
			  	<td>{{itemRate8}}</td>
			</tr>
			<tr>
			  	<td>中专高讲</td>
			  	<td>{{item9}}</td>
			  	<td>{{itemRate9}}</td>
			</tr>
			<tr>
			  	<td>中专讲师</td>
			  	<td>{{item10}}</td>
			  	<td>{{itemRate10}}</td>
			</tr>
			<tr>
			  	<td>中专助讲</td>
			  	<td>{{item31}}</td>
			  	<td>{{itemRate31}}</td>
			</tr>
			<tr>
			  	<td>中学高级教师</td>
			  	<td>{{item11}}</td>
			  	<td>{{itemRate11}}</td>
			</tr>
			<tr>
			  	<td>中学一级教师</td>
			  	<td>{{item12}}</td>
			  	<td>{{itemRate12}}</td>
			</tr>
			<tr>
			  	<td>中学二级教师</td>
			  	<td>{{item13}}</td>
			  	<td>{{itemRate13}}</td>
			</tr>
			<tr>
			  	<td>小学高级教师</td>
			  	<td>{{item14}}</td>
			  	<td>{{itemRate14}}</td>
			</tr>
			<tr>
			  	<td>小学一级教师</td>
			  	<td>{{item15}}</td>
			  	<td>{{itemRate15}}</td>
			</tr>
			<tr>
			  	<td>小学二级教师</td>
			  	<td>{{item16}}</td>
			  	<td>{{itemRate16}}</td>
			</tr>
			<tr>
			  	<td>高级实验师</td>
			  	<td>{{item17}}</td>
			  	<td>{{itemRate17}}</td>
			</tr>
			<tr>
			  	<td>实验师</td>
			  	<td>{{item18}}</td>
			  	<td>{{itemRate18}}</td>
			</tr>
			<tr>
			  	<td>助理实验师</td>
			  	<td>{{item19}}</td>
			  	<td>{{itemRate19}}</td>
			</tr>
			<tr>
			  	<td>高级会计师</td>
			  	<td>{{item20}}</td>
			  	<td>{{itemRate20}}</td>
			</tr>
			<tr>
			  	<td>会计师</td>
			  	<td>{{item21}}</td>
			  	<td>{{itemRate21}}</td>
			</tr>
			<tr>
			  	<td>助理会计师</td>
			  	<td>{{item22}}</td>
			  	<td>{{itemRate22}}</td>
			</tr>
			<tr>
			  	<td>高级工程师</td>
			  	<td>{{item23}}</td>
			  	<td>{{itemRate23}}</td>
			</tr>
			<tr>
			  	<td>工程师</td>
			  	<td>{{item24}}</td>
			  	<td>{{itemRate24}}</td>
			</tr>
			<tr>
			  	<td>助理工程师</td>
			  	<td>{{item25}}</td>
			  	<td>{{itemRate25}}</td>
			</tr>
			<tr>
			  	<td>其他系列正高</td>
			  	<td>{{item26}}</td>
			  	<td>{{itemRate26}}</td>
			</tr>
			<tr>
			  	<td>其他系列副高</td>
			  	<td>{{item27}}</td>
			  	<td>{{itemRate27}}</td>
			</tr>
			<tr>
			  	<td>其他系列中级</td>
			  	<td>{{item28}}</td>
			  	<td>{{itemRate28}}</td>
			</tr>
			<tr>
			  	<td>其他系列初级</td>
			  	<td>{{item29}}</td>
			  	<td>{{itemRate29}}</td>
			</tr>
			<tr>
			  	<td>其他系列员级</td>
			  	<td>{{item30}}</td>
			  	<td>{{itemRate30}}</td>
			</tr>
			<tr>
			  	<td>总计</td>
			  	<td>{{total}}</td>
			  	<td>{{totalRate}}</td>
			</tr>
		</tbody>  
	</table>
</template>