<template name="proTitleLevel">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
			  	<td>最高学历</td>
			  	<td>人数</td>
			  	<td>比例</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			  	<td>专技二级</td>
			  	<td>{{item1}}</td>
			  	<td>{{itemRate1}}</td>
			</tr>
			<tr>
			  	<td>专技三级</td>
			  	<td>{{item2}}</td>
			  	<td>{{itemRate2}}</td>
			</tr>
			<tr>
			  	<td>专技四级</td>
			  	<td>{{item3}}</td>
			  	<td>{{itemRate3}}</td>
			</tr>
			<tr>
			  	<td>专技五级</td>
			  	<td>{{item4}}</td>
			  	<td>{{itemRate4}}</td>
			</tr>
			<tr>
			  	<td>专技六级</td>
			  	<td>{{item5}}</td>
			  	<td>{{itemRate5}}</td>
			</tr>
			<tr>
			  	<td>专技七级</td>
			  	<td>{{item6}}</td>
			  	<td>{{itemRate6}}</td>
			</tr>
			<tr>
			  	<td>专技八级</td>
			  	<td>{{item7}}</td>
			  	<td>{{itemRate7}}</td>
			</tr>
			<tr>
			  	<td>专技九级</td>
			  	<td>{{item8}}</td>
			  	<td>{{itemRate8}}</td>
			</tr>
			<tr>
			  	<td>专技十级</td>
			  	<td>{{item9}}</td>
			  	<td>{{itemRate9}}</td>
			</tr>
			<tr>
			  	<td>专技十一级</td>
			  	<td>{{item10}}</td>
			  	<td>{{itemRate10}}</td>
			</tr>
			<tr>
			  	<td>专技十二级</td>
			  	<td>{{item11}}</td>
			  	<td>{{itemRate11}}</td>
			</tr>
			<tr>
			  	<td>专技十三级</td>
			  	<td>{{item12}}</td>
			  	<td>{{itemRate12}}</td>
			</tr>
			<tr>
			  	<td>总计</td>
			  	<td>{{total}}</td>
			  	<td>{{totalRate}}</td>
			</tr>
		</tbody>  
	</table>
</template>