<template name="qualiType">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
			  	<td>最高学历</td>
			  	<td>人数</td>
			  	<td>比例</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			  	<td>普通全日制教育</td>
			  	<td>{{item1}}</td>
			  	<td>{{itemRate1}}</td>
			</tr>
			<tr>
			  	<td>党校教育</td>
			  	<td>{{item2}}</td>
			  	<td>{{itemRate2}}</td>
			</tr>
			<tr>
			  	<td>成人教育</td>
			  	<td>{{item3}}</td>
			  	<td>{{itemRate3}}</td>
			</tr>
			<tr>
			  	<td>总计</td>
			  	<td>{{total}}</td>
			  	<td>{{totalRate}}</td>
			</tr>
		</tbody>  
	</table>
</template>