<template name="qualification">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
			  	<td>最高学历</td>
			  	<td>人数</td>
			  	<td>比例</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			  	<td>博士研究生</td>
			  	<td>{{item1}}</td>
			  	<td>{{itemRate1}}</td>
			</tr>
			<tr>
			  	<td>硕士研究生</td>
			  	<td>{{item2}}</td>
			  	<td>{{itemRate2}}</td>
			</tr>
			<tr>
			  	<td>本科</td>
			  	<td>{{item3}}</td>
			  	<td>{{itemRate3}}</td>
			</tr>
			<tr>
			  	<td>双本科</td>
			  	<td>{{item4}}</td>
			  	<td>{{itemRate4}}</td>
			</tr>
			<tr>
			  	<td>大专</td>
			  	<td>{{item5}}</td>
			  	<td>{{itemRate5}}</td>
			</tr>
			<tr>
			  	<td>中专、技校或职高</td>
			  	<td>{{item6}}</td>
			  	<td>{{itemRate6}}</td>
			</tr>
			<tr>
			  	<td>高中及以下</td>
			  	<td>{{item7}}</td>
			  	<td>{{itemRate7}}</td>
			</tr>
			<tr>
			  	<td>总计</td>
			  	<td>{{total}}</td>
			  	<td>{{totalRate}}</td>
			</tr>
		</tbody>  
	</table>
</template>